# SPDX-License-Identifier: Apache-2.0

version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly
      time: '04:00'
    open-pull-requests-limit: 15
    ignore:
      - dependency-name: "com.fasterxml.jackson*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
