
# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# avoid accidental addition of dirs mentioned in README
curs/
output/

docs/book
